.aside {
    display: block;
    background-color: lightgray;
    width: 20%;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}
  
.aside a {
    color: #fff;
}
  
a.activeLink {
    color: rgb(255, 238, 139);
}